<% provide(:title, "筋肉メシ図鑑とは？") %>

<body class="about">

<div id="menu">
    <div class="menu-content wrapper">
        <h1>筋肉メシ図鑑とは？</h1>
        <h2 class="page-title">簡単な操作でみんなの筋肉メシを共有できます！</h2>
        <p><a href="" class="button">新規登録はこちら</a></p>
       
        
    </div>
</div>
    <div class="wrapper-2">
    <h1>みんなの筋肉メシの作り方が学べる！</h1>
    <div class="grid">
        
        <div class="item big-box">
            <img src="assets/about1.jpg" alt="pics">
            <p><a href="http://localhost:3000/dishes/14">サーモンのグリル</a></p>
        </div>
        <div class="item">
            <img src="assets/about6.jpg" alt="pics">
            <p>プロテインシェイク</p>
        </div>
        <div class="item">
            <img src="assets/about3.jpg" alt="pics">
            <p>豆乳シリアル</p>
        </div>
        <div class="item">
            <img src="assets/about4.jpg" alt="pics">
            <p>鶏胸肉のステーキ</p>
        </div>
        <div class="item">
            <img src="assets/about2.jpg" alt="pics">
            <p>牛肉フィレステーキ</p>
        </div>
        <div class="item">
            <img src="assets/about6.jpg" alt="pics">
            <p>料理名</p>
        </div>
        <div class="item">
            <img src="assets/about1.jpg" alt="pics">
            <p>料理名</p>
        </div>
        <div class="item">
            <img src="assets/about3.jpg" alt="pics">
            <p>料理名</p>
        </div>
        <div class="item">
            <img src="assets/info11.jpg" alt="pics">
            <p>料理名</p>
        </div>
     </div>   
    </div>

    </body>
